#header {
	top: -100px;
	height: 100px;
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
	box-shadow: 0px 3px 7px 0px rgba(#000, .15);
	z-index: 999999;
	@media (min-width: $screen-md-min) {
		text-align: center;
	}
}

#header.fix {
	position: fixed;
	top: 0;
	height: 70px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition: top .3s;
	.header__logo {
		position: relative;
		top: 10px;
	}
	.logo__text_header {
		display: none;
	}
}

.header__toggle {
	float: right;
	position: relative;
	top: 25px; right: 15px;
	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.header__navigation {
	position: absolute;
	top: 100%; right: 0;
	display: none;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 0 7px 0px rgba(#000, .15);
	z-index: 99999;
	@media (min-width: $screen-md-min) {
		top: 10px; left: 0; right: auto;
		display: block !important;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		box-shadow: none;
	}
}
	#header.fix .header__navigation {
		margin-top: 15px;
		@media (min-width: $screen-md-min) {
			top: 0;
		}
	}


.header__nav {
	min-width: 200px;
}

@media (min-width: $screen-md-min) {
	.header__nav {
		position: absolute;
		height: 50px;
	}
	.header__nav_left {
		right: 50%;
		margin-right: 150px;
	}
	.header__nav_right {
		left: 50%;
		margin-left: 150px;
	}
}