.image-slider {
	display: inline-block;
	width: 310px;
	height: 160px;
	max-width: 100%;
	
	@media (min-width: 470px) {
		width: 370px;
		height: 195px;
		margin-left: 25px;
		margin-right: 25px;
	}

	@media (min-width: 570px) {
		width: 470px;
		height: 245px;
	}

	@media (min-width: 670px) {
		width: 570px;
		height: 300px;
	}

	@media (min-width: 1250px) {
		margin-left: 0;
		margin-right: 0;
	}
}

.image-slider__img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}


// CUSTOMIZE SLICK
.image-slider .slick-list {
	position: relative;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 6px 15px 0px rgba(#000, .15);
	overflow: hidden;
}

.image-slider .slick-arrow {
	position: absolute;
	top: 50%;
	text-indent: -99999999px;
	transform: translateY(-50%);
	z-index: 99999;
	cursor: pointer;
	@include icon-wrap(29px);
	&:before {
		content: '';
		position: absolute;
		left: 50%; top: 50%;
		display: inline-block;
		transform: translate(-50%, -50%);
	}
	@media (min-width: 470px) {
		width: 50px;
		height: 50px;
	}
}

@mixin media {
	box-shadow: 0 0 0 #ddd;
}

.image-slider .slick-prev {
	left: 5px;
	&:before {
		@extend %ic-arrow-l_xs;
	}
	@media (min-width: 360px) {
		left: -15px;
	}
	@media (min-width: 470px) {
		left: -25px;
		&:before {
			@include ic-arrow-l;
		}
	}
}

.image-slider .slick-next {
	right: 5px;
	&:before {
		@extend %ic-arrow-r_xs;
	}
	@media (min-width: 360px) {
		right: -15px;
	}
	@media (min-width: 470px) {
		right: -25px;
		&:before {
			@include ic-arrow-r;
		}
	}
}