mixin footer
	footer#footer
		.container.footer__content
			.footer__desc
				h5.f-title About
				.f__text
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
				ul.social
					li.social-item
						a(href="javascript:void(0)")
							i.ic-pinterest
					li.social-item
						a(href="javascript:void(0)")
							i.ic-twitter
					li.social-item
						a(href="javascript:void(0)")
							i.ic-facebook
					li.social-item
						a(href="javascript:void(0)")
							i.ic-google
					li.social-item
						a(href="javascript:void(0)")
							i.ic-instagram
			.f-contact
				h5.f-title CONTACT US
				.f-contact__group
					.contact-item.f-contact__item
						i.ic-placeholder.contact-item__icon
						p 5419 Joseph Mountains
						p Apt. 716
					.contact-item.f-contact__item
						i.ic-envelope.contact-item__icon
						p
							a(href="mailto:joga.info@example.com") joga.info@example.com
				.f-contact__group
					.contact-item.f-contact__item
						i.ic-phone-call.contact-item__icon
						p
							a(href="tel:+123456789") +1 234 567 89
						p
							a(href="tel:+123467890") +1 234 678 90
					.contact-item.f-contact__item
						i.ic-planet-earth.contact-item__icon
						p
							a(href="javascript:void(0)") www.example.com
		.copyright
			.container
				p Copyright  &copy;  2016-2017 Yoga classes