//- HEADER
- var nav = [];
- nav[0] = [{title: 'About us', anchor: '#about'}, {title: 'Reservation', anchor: '#reservation'}, {title: 'Gallery', anchor: '#gallery'}];
- nav[1] = [{title: 'Blog', anchor: '#blog'}, {title: 'Elements', anchor: '#elements'}, {title: 'Shop', anchor: '#shop'}];


//- JUMBOTRON
- var selectOptions = ['class 1', 'class 2', 'class 3', 'class 4'];
- var formFields = [];
- formFields.push({type: 'text', placeholder: 'Enter your name', classes: 'field_name', info: 'name is empty'});
- formFields.push({type: 'text', placeholder: 'Enter your phone', classes: 'field_phone', info: 'phone is empty'});
- formFields.push({type: 'select', placeholder: 'Chose your class', classes: 'field_select', info: 'option not selected', options: selectOptions});


//- YOGA
- var yogas = [];
- yogas.push({img: 'img/1.jpg', title: 'Yoga For Health', text: 'Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.', signature: 'Ashtanga - Hatha'});
- yogas.push({img: 'img/2.jpg', title: 'Yoga For Lose Weight', text: 'Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.', signature: 'Ashtanga - Hatемtvvvha'});
- yogas.push({img: 'img/3.jpg', title: 'Yoga For Children', text: 'Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.', signature: 'Ashtanga - Hatha'});
- yogas.push({img: 'img/4.jpg', title: 'Yoga For Elderly', text: 'Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.', signature: 'Ashtanga - Hatha'});


//- GALLERY
- var gallery = ['img/v1.jpg', 'img/v2.jpg', 'img/v3.jpg', 'img/v4.jpg', 'img/v5.jpg', 'img/v6.jpg', 'img/v7.jpg', 'img/v8.jpg'];


//- ABOUT
- var aboutImages = ['img/s1.jpg', 'img/s1.jpg', 'img/s1.jpg'];


//- FEATURES
- var features = [];
- features.push({icon: 'svg-heart', title: 'IMPROVED OVERALL HEALTH', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-eye', title: 'INCREASED CONCENTRATION', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-humen', title: 'BLANCE YOUR MIND', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-sleep', title: 'SLEEP BETTER', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-waist', title: 'WEIGHT LOSS', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-bones', title: 'STRENGTHENS YOUR BONES', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-yoga', title: 'INCREASED FLEXIBILITY', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});
- features.push({icon: 'svg-heart_md', title: 'LOWER BLOOD PRESSURE', text: 'Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.'});


//- ORDER
- var order = {};
- order.light = {price: 49, list: ['ENTRY DATE: MON – FRI', 'ENTRY TIME: 8A.M – 8P.M', 'NUTRITION ADVICER: NO']};
- order.middle = {price: 69, list: ['ENTRY DATE: MON – FRI', 'ENTRY TIME: 8A.M – 8P.M', 'NUTRITION ADVICER: YES']};
- order.full = {price: 99, list: ['ENTRY DATE: MON – SUN', 'ENTRY TIME: 8A.M – 8P.M', 'NUTRITION ADVICER: YES']};


//- REVIEWS
- var reviews = [];
- reviews.push({text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.', trainer: 'Laura Shepard', pic: 'img/pic.jpg'});
- reviews.push({text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quasi aperiam corporis, facilis? Vero accusamus vitae fugiat facilis sit temporibus velit delectus eius, in aliquid.', trainer: 'Sara Taylor', pic: 'img/prof.jpg'});